@use "variables" as *;

.fav-wrapper {
  min-height: 30vh;
  color: $sort-color;
  max-width: 80%;
  margin: 0 auto;

  h1 {
    margin: auto;
    padding: 10rem 0 0.5rem 0;
    font-family: $logo-font;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
  }

  .fav-subtitle {
    font-size: 1.2rem;
    color: $sort-color;
    padding-bottom: 2rem;
  }

  p {
    margin: auto;
    border-bottom: rgba(128, 128, 128, 0.716) solid 2px;
    color: $white;
    text-align: center;
  }

  .release-date {
    color: $sort-color-light;
  }

  .faves-page {
    margin-top: -13rem;
    min-height: 45vh;
    p {
      border-bottom: none;
      color: $sort-color;
    }

    .card-title {
      margin-top: 1rem;
    }
  }
  .more-info-btn {
    p {
      color: $white;
    }
  }
}

// 768 px (Tablet)
@media screen and (min-width: 48rem) {
  .fav-wrapper {
    h1 {
      font-size: 2.25rem;
    }

    .faves-page {
      margin-top: -11rem;
      min-height: 35vh;
    }
  }
}
