@use "variables" as *;

body {
    font-family: $body-font;
    text-align: center;

    .fav-wrapper {

    
        h1{
            margin: auto;
            padding: 10rem 0 .5rem 0;
            font-family: $logo-font;
            
        }
    
        p {
            margin: auto;
            border-bottom: $dark-bg-color solid 2px;
            width: 60%;
            padding-bottom: .75rem;
        }
    }
}