@use "variables" as *;

footer {
    position: relative;
    height: 50%;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: $dark-bg-color;
    color: $white;
    margin-top: 18rem;

    .footer-main {
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        justify-content: space-around;
        text-align: left;
        gap: 2rem;

        img {
            width: 5rem;
        }
    
        h1 {
            font-size: 1.25rem;
            font-weight: 400;
            font-family: $logo-font;
        }
    
        li {
            list-style: none;
        }
    
        a {
            text-decoration: none;
            color: $white;
        }
    
        a:hover,
        a:focus,
        a:active {
          background-color: transparent;
          color: $theme-color;
          transition: 0.5s;
        }

        .logo-desc {
            display: flex;

            .footer-desc {
                max-width: 25rem;
                padding-left: 1rem;

                p{
                    font-size: 0.1rem;
                }
            }
        }

    }

    .footer-content{
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .credits {
        padding-top: 3rem;
        text-align: center;
        font-size: .75rem;
    }

}

// 768 px
@media screen and (min-width: 48rem) {
    footer{
        margin-top: 22rem;

    }
    .footer-main {
        display: grid;
        grid-template-columns:  2fr 1fr;
        vertical-align: middle;
        text-align: left;
        gap: 2rem;
        align-items: center;
    }
            .logo-desc{
                p{
                    font-size: 15px;
                }
            }
        }

// 1344 px
@media screen and (min-width: 84rem) {
    footer{
        margin-top: 32rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .footer-main{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
