@use "variables" as *;

footer {
    margin-top: 1rem;
    padding: 2rem 1.5rem;
    background-color: black;
    color: white;

    .footer-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            margin-top: 2rem;
            width: 4rem;
        }
    
        h1 {
            font-size: 1.25rem;
            font-family: $logo-font;
        }
    
        li {
            list-style: none;
        }
    
        a {
            text-decoration: none;
            color: $white;
        }
    
        a:hover,
        a:focus,
        a:active {
          background-color: transparent;
          color: $theme-color;
          transition: 0.5s;
        }

        .logo-desc {
            display: flex;

            .footer-desc {
                max-width: 25rem;
                font-size: 0.75rem;
                margin-top: 2rem;
                padding-left: 1rem;
            }
        }

    }

    .credits {
        padding-top: 3rem;
        text-align: center;
        font-size: .75rem;
    }

}

@media screen and (max-width: 48rem) {
    .footer-desc {
        display: none;
    }

}
