@use "variables" as *;

// Change this to handle distance from top of window
.movie-data {
  z-index: -1;
  position: relative;
  top: 7rem;


  #filterSelector{
    background-color: $sort-color;
    color: $white;
    width: 9rem;
    height: 3rem;
    text-align: center;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    }

  ul {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 13px;
      font-weight: 800;
      max-width: 100%;

      img {
        margin: 0 auto;
        width: 90%;
        max-width: 100%;
        padding-bottom: 1rem;
      }
    }
  }
}

// 768 px (Tablet)
@media screen and (min-width: 48rem) {
  .movie-data {
    ul {
    margin: 1rem 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

// 1344 px (Desktop)
@media screen and (min-width: 84rem) {
  .movie-data {
    ul {
    margin: 1rem 10rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
