@use "variables" as *;

.movies-page {
  position: relative;
  top: 0;
}

.movie-data {
  position: relative;
  top: 5.6rem;
  z-index: 9;
}

.movie-list-movies-page {
  top: 5rem !important;
}

// Filter
.movie-page-filter-container {
  top: 4rem;
}

.page-title {
  font-size: 3rem;
  width: 100%;
  margin: 0 0 4rem 0;
  text-align: center;
}

// 768 px Tablet
@media screen and (min-width: 48rem) {
  .movie-page-filter-container {
    margin: 0 !important;
  }

  .movie-page-filter {
    top: 0 !important;
    text-align: center;
  }
}
