// COLOR VARIABLES

$theme-color: #F1592A;
$dark-bg-color: #1D1D1D;
$light-bg-color: #EDEDED;
$sort-color-light: #a1a1a1;
$sort-color: #515151;
$white: #ffffff;

//FONT
$logo-font: 'Molot', Arial, Helvetica, sans-serif;
$body-font: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
