@use "header";
@use "variables";
@use "navbar";
@use "home";
@use "about";
@use "footer";
@use "_card";
@use "favourites";
@use "testsingle";
@use "movies";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
